<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="../../../engine/Shopware/Components/Plugin/schema/plugin.xsd">
    <label lang="de">Erweiterter TinyMCE</label>
    <label>Advanced TinyMCE</label>
    <version>1.1.1</version>
    <license>MIT</license>
    <link>https://she-business.com/</link>
    <author>S.HE Business GmbH</author>
    <compatibility minVersion="5.2.0" />
    <changelog version="1.0.0">
        <changes>
            <![CDATA[
                <div>Initial release</div>
                - Configure templates and use it in the editor.<br>
                - All editor configurations can be edit over backend.<br>
                - Add javascript in your html description.
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                <div>Erstveröffentlichung im Store</div>
                <ul>
                    <li>Konfiguriere Vorlagen und verwende sie im Editor.</li>
                    <li>Alle TinyMCE-Einstellungen können über das Backend gepflegt werden.</li>
                    <li>Füge Javascript in deiner HTML-Beschreibung hinzu.</li>
                </ul>
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.1">
        <changes>
            <![CDATA[
                - Fix styles in template selection.<br>
                - Fix many templates
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                - Button-Position bei der Template-Auswahl verbessert.<br>
                - Unterstützung für mehrere Vorlagen.
            ]]>
        </changes>
    </changelog>
    <changelog version="1.0.2">
        <changes>
            <![CDATA[
                - Add "verify_html" configuration
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                - Fügt "verify_html" Konfiguration hinzu
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.0">
        <changes>
            <![CDATA[
                - No changes
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                - Keine Änderungen
            ]]>
        </changes>
    </changelog>
    <changelog version="1.1.1">
        <changes>
            <![CDATA[
                - Add script attributes
            ]]>
        </changes>
        <changes lang="de">
            <![CDATA[
                - Fügt weitere Attribute beim Script-Tag hinzu
            ]]>
        </changes>
    </changelog>
</plugin>
